:root {
	--mainColor: #15202B;
	--secondaryColor: #192734;

	--borderColor: #164D56;

	--mainText: #fff;
	--secondaryText: #eeeeee;

	--themeDotBorder: #FFF;

	--previewBg: rgb(25, 39, 52, 0.8);
	--previewShadow: #111921;


	--buttonColor: #17a2b8;


}


html,
body {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

body * {
	transition: 0.3s;
}


h1,
h2,
h3,
h4,
h5,
h6,
strong {
	color: var(--mainText);
	font-family: 'Roboto Mono', monospace;
	font-weight: 500;
}

p,
li,
span,
label,
input,
textarea {
	color: var(--secondaryText);
	font-family: 'Roboto Mono', monospace;
}

a {
	text-decoration: none;
	color: #17a2b8;
}

ul {
	list-style: none;
}

h1 {
	font-size: 56px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 16px;
}


.s1 {
	background-color: var(--mainColor);
	border-bottom: 1px solid var(--borderColor);
	overflow: auto;
}

.s2 {
	background-color: var(--secondaryColor);
	border-bottom: 1px solid var(--borderColor);
	overflow: auto;
}

.main-container {
	width: 1150px;
	margin: 0 auto;
}


.greeting-wrapper {
	display: grid;
	text-align: center;
	align-content: center;
}

.intro-wrapper {
	background-color: var(--secondaryColor);
	border: 1px solid var(--borderColor);
	border-radius: 5px 5px 0 0;


	-webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
	box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		'nav-wrapper nav-wrapper'
		'left-column right-column'
	;
}

.about-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	padding-bottom: 50px;
	padding-top: 50px;
	gap: 8px;
}

.post-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, 320px);
	gap: 25px;
	justify-content: center;
	padding-bottom: 50px;
}

.post {
	border: 1px solid var(--borderColor);
	-webkit-box-shadow: -1px 7px 21px -8px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -1px 7px 21px -8px rgba(0, 0, 0, 0.75);
	box-shadow: -1px 7px 21px -8px rgba(0, 0, 0, 0.75);
}

.thumbnail {
	display: block;
	width: 100%;
	height: 170px;
	object-fit: cover;
}

.post-preview {
	background-color: #fff;
	padding: 15px;
}

.post-title {
	color: black;
	font-size: 16px;
	margin: 0;
}

.post-intro {
	color: #74797d;
	font-size: 14px;
}

.input-field {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 6px;
	font-size: 16px;
}


#submit-btn {
	margin-top: 10px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;
	background-color: var(--buttonColor);
	border: none;
}


@media screen and (max-width: 1200px) {
	.main-container {
		width: 95%;
	}
}